<html>
    <head>
        <title>Express</title>
        <style type="text/css" >
            html{ width: 100%; height: 1650px;}
            body
            {
                background:url(a.jpg) top center no-repeat;
            }
            .text{
              margin:60px 120px;
            }
        </style>
    </head>
    <body>
        <br>
        <div class="text">
        <h1>Hi all, I'm a Robot. <a href="/zh">Touch me.</a> </h1>
        </div>
    </body>
<html>